PORT=4000

SUPABASE_URL=https://your-project-ref.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key
SUPABASE_STORAGE_BUCKET=stands-images

JWT_SECRET=change_me
CLIENT_URL=http://localhost:5173

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
SMTP_FROM="AdStands <your_email@gmail.com>"


TELEGRAM_BOT_TOKEN=твой_токен_бота
TELEGRAM_CHAT_ID=твой_chat_id